@import "../../shared/styles/variables/variables";

.paragraph {
  font-size: 1.1rem;
}

.heading:is(h1, h2, h3) {
  margin: 1rem 0;
  color: $primary-text-color;
  text-align: center;
}

.ordered-list {
  margin: 0.5rem auto;

  li {
    margin: 0.5rem 0;
  }

  ul > li {
    margin: 0.5rem 0 0.5rem 1rem;
  }
}
