@import "../../shared/styles/variables/variables";

.paragraph {
  font-size: 1.1rem;
  line-height: 150%;
}

.heading:is(h1, h2, h3) {
  margin: 1rem 0;
  color: $primary-text-color;
  text-align: center;
}

.unordered-list li {
  margin-left: 1.5rem;
}

.ordered-list,
.unordered-list {
  margin: 0.5rem auto;
  font-size: 1.1rem;

  li {
    margin: 0.5rem 0;
  }

  ul > li {
    margin: 0.5rem 0 0.5rem 1rem;
  }
}

.link {
  color: $primary-text-color;
}
