*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: unset;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  background: transparent;
  border: 0;
  cursor: pointer;
  appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
