.photos-container {
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.gallery-image {
  border-radius: 1rem;
  cursor: zoom-in;
}

.album-title {
  margin: 1rem auto !important;

  @media (width >= 768px) {
    margin: 2rem auto !important;
  }
}
