@import "../shared/styles/variables/variables";

.thumbnail-container {
  position: relative;
  display: flex;
  border-radius: 1rem;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  transition: ease-in-out 0.2s;

  &:hover {
    transform: scale(1.01);
  }
}

.thumbnail-image {
  width: 100%;
  border-radius: 1rem;
}

.thumbnail-title {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  padding: 0.25rem;
  color: $color-white;
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
  text-align: center;
  background-color: rgba($color: #000, $alpha: 70%);
  border-radius: 0.5rem;
  transform: translate(-50%, 0);
}

.thumbnail-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
