@import "../../../shared/styles/variables/variables";

@mixin indicate-active {
  color: rgb(101 92 86);
  background-color: $color-white;
}

.main-container {
  padding: 0.6rem 1rem;
  overflow-x: scroll;
  background-color: rgb(101 92 86);

  @media (width >= 768px) {
    overflow-x: hidden;
  }
}

.list {
  @media (width >= 768px) {
    width: 60%;
  }

  display: flex;
  gap: 1rem;
  white-space: nowrap;
  list-style: none;
}

.item-container {
  padding: 0.5rem;
  color: $color-white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;

  &.active,
  &:hover {
    @include indicate-active;
  }
}

.item {
  text-decoration: none;
}
