@import "../../../shared/styles/variables/variables";

@mixin indicate-active {
  background-color: white;
  color: rgb(101 92 86);
}

.main-container {
  padding: 0.6rem;
  background-color: rgb(101 92 86);
  overflow-x: scroll;

  @media (width >= 768px) {
    overflow-x: visible;
  }
}

.list {
  @media (width >= 768px) {
    justify-content: space-around;
    width: 60%;
  }

  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
}

.item-container {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  border-radius: 0.5rem;

  &.active,
  &:hover {
    @include indicate-active;
  }
}

.item {
  text-decoration: none;
}
