@import "../../styles/variables/variables";

@mixin indicate-active() {
  color: rgb(101 92 86);
  background-color: $color-white;
  border: 1px solid rgb(101 92 86);
}

.button {
  width: min-content;
  padding: 0.5rem;
  color: $color-white;
  white-space: nowrap;
  background-color: rgb(101 92 86);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: ease-in-out 0.2s;

  &:hover {
    @include indicate-active;
  }

  @media (width >= 768px) {
    padding: 1rem;
  }
}
